<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Manage items</title>
</head>
<body>
<h2>Add Category</h2>
<form method="POST" action="/api/v1/categories">
    <label for="name">Category Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <button type="submit">Add Category</button>
</form>
<h2>Delete Category</h2>
<form method="POST" action="/api/v1/categories/{id}">
    <label for="id">Category ID:</label>
    <input type="text" id="id" name="id" required><br><br>
    <button type="submit">Delete Category</button>
</form>
<h2>Update Category</h2>
<form method="POST" action="/api/v1/categories/{id}">
    <label for="id">Category ID:</label>
    <input type="text" id="id" name="id" required><br><br>
    <label for="name">Category Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <button type="submit">Update Category</button>
</form>




<h2>Categories List</h2>
<div id="categoriesList"></div>
<script src="/js/categories-fetch.js"></script>
</body>
</html>